$color-primary: #826049;
$color-primary-transparent:#82604973;
$color-secondary: #121212;
$color-secondary-transparent: #1212126c;
$letter-color: #bbbbbb;

//Variaveis de responsividade
$large-width: 1200px;
$tablet-width: 768px;
$cell-width: 480px;